@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    color: var(--font-clr);
    font-family: var(--font-outfit);
}

:root {
    --body-bg: hsl(30, 54%, 90%);
    --all-bg: hsl(0, 0%, 100%);
    --h1-font: hsl(24, 5%, 18%);
    --time-bg: hsl(330, 100%, 98%);
    --time-p: hsl(332, 51%, 32%);
    --h2-font: hsl(14, 45%, 36%);
    --font-clr: hsl(30, 10%, 34%);
    --body-bg2: hsl(30, 18%, 87%);


    --font-outfit: "outfit", sans-serif;
    --font-young-serif: "young serif", serif;
}

body {
    background-color: var(--body-bg);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 0;
}

.all {
    background-color: var(--all-bg);
    width: 660px;
    height: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
}

.picture {
    width: 100%;
}

.picture img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.heading h1 {
    font-family: var(--font-young-serif);
    color: var(--h1-font);
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 18px;

}

.heading p {
    padding-top: 0;
    line-height: 25px;
    padding-bottom: 18px;
}

.time {
    background-color: var(--time-bg);
    width: 100%;
    border-radius: 20px;
    padding: 1%;
    padding-bottom: 10px;
}

.time p {
    color: var(--time-p);
    margin-left: 2%;
    font-size: 18px;
    font-weight: 600;
}

.time ul li::marker {
    color: var(--time-p);
}

.time ul li {
    padding: 1%;
}

h2 {
    font-family: var(--font-young-serif);
    color: var(--h2-font);
    font-size: 28px;
    font-weight: 400;
}

.ingredients {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.ingredients h2 {
    margin-bottom: 0px;
}

.ingredients ul {
    margin-top: 12px;
    padding-top: 5px;
    padding-bottom: 12px;
}

.ingredients li {
    padding: 6px;
}

.ingredients ul li::marker {
    color: var(--h2-font);
}

.instructions {
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
}

.instructions h2 {
    margin-bottom: 0px;

}

.instructions ol {
    margin-top: 14px;
    padding-bottom: 10px;
}

.instructions li {
    padding: 6px;
    line-height: 22px;
}

.instructions ol li::marker {
    color: var(--h2-font);
    font-weight: bold;
}

.instructions b {
    color: var(--h1-font);
}

.nutrition {
    width: 100%;
    padding-top: 5px;

}

.nutrition h2 {
    margin-bottom: 20px;
}

.nutrition-column {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.nutrition-column:last-child {
    border-bottom: 0px;
}

.nutrition-table {
    padding-bottom: 40px;
}

.nutrition-column strong {
    color: var(--h2-font);
}


.attribution {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}